.body {
    background: fixed;
    background-image: linear-gradient(#860021, #a10028, #860021);
}

.badBody {
    animation: blinkBackground 0.3s alternate infinite;
}

@keyframes blinkBackground {
    from {
        background-image: linear-gradient(#860021, #a10028, #860021);
    }

    to {
        background-image: linear-gradient(#860021, #bf0635, #860021);
    }
}

#container {
    overflow: hidden;
    height: 30%;
    width: 60%;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 2%;
    font-size: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', sans-serif;
    background-color: #fff8fafb;
    box-shadow: 0px 3px 8px #46132287
}

#welcomeContainer {
    z-index: 5;
}

#choices{
    margin-right: 7%;
}

.choiceButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 3%;
    margin-top: 2%;
    border: none;
    color: white;
    background-color: #ab1943;
    font-size: 16px;
    transition-duration: 0.4s;
}

.choiceButton:hover {
    background-color: #4CAF50;
    color: white;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 2%;
    margin-top: 4px;
    border: none;
    color: white;
    background-color: rgb(197, 197, 197);
    font-size: 16px;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #4CAF50;
    color: white;
}

#timer {
    display: flex;
    justify-content: flex-end;
}

.wrong-answer {
    color: red;
}

/*  or...

.wrong-answer {
    animation: blink 1s 2;

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}