* {
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}

.body {
    background: fixed;
    background-image: linear-gradient(#b40041, #830051);
}

.bodyBlink {
    animation: blinkBackground 0.3s alternate infinite;
}

@keyframes blinkBackground {
    from {
        background-image: linear-gradient(#b40041, #830051);
    }

    to {
        background-image: linear-gradient(#f30059, #830051);
    }
}

h1 {
    padding-bottom: 3%;
    color: #e31f5c;
    text-shadow: 0px 1px 2px #2e001ca9;
}

#welcomeText {
    padding-bottom: 3%;
    color: #ff578c;
    text-shadow: 0px 1px 2px #32001f;
    
}

#welcomeContainer {
    z-index: 5;
    margin-top: 2%;
}

#timer {
    padding-top: 4%;
    font-size: 23px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', verdana;
    color: #ee045a;
    text-shadow: 0px 1px 2px #3f0027c1;
}

.fa-hourglass {
    padding-right: 1%;
    font-size: 20px;
}

.wrongAnswerTimer {
    color: #ff7094;
    text-shadow: 1px 1px 1px 2px #3f0027;
}

#container {
    overflow: hidden;
    height: 30%;
    width: 60%;
    margin-top: 3%;
    margin-bottom: 10%;
    padding: 2%;
    font-size: 25px;
    overflow: hidden;
}

#question {
    color: #ffadb8;
    font-size: 35px;
    text-shadow: 0px 1px 2px #32001f;
}

#choices {
    margin-right: 7%;
}

.choiceButton,
.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 3%;
    margin-top: 2%;
    border: none;
    color: #760055;
    background-color: #ffb3c0;
    box-shadow: 0px 2px 5px #5a002795;
    font-size: 20px;
    transition-duration: 0.4s;
}

.choiceButton:hover,
.button:hover {
    background-color: #ffd5dc;
    color: #c77e8a;
}

.button {
    padding: 2%;
    font-size: 22px;
    color: #760055;
}

#resultContainer {
    margin-top: none;
    position: relative;
    z-index: 3;
    height: 500px;
    overflow: hidden;
    color: white;
    background-image: transparent;
    -webkit-mask-image: linear-gradient(to top, transparent, #830051);
    mask-image: linear-gradient(to top, transparent, #830051);
}

#scoreText {
    color: #ffc2ca;
    text-shadow: 0px 1px 2px #32001f;
}

#savedScores {
    list-style: none;
    color: #ffadb8;
    text-shadow: 0px 1px 2px #32001f;
}